@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

/* Navbar*/

.down, .down1 {
    color: #8197A4;
}
.navbar {
    display: flex;
    background: #1A242E;
    height: 100px;
    width: 100%;
}
.navbar .logo{
    filter: invert(1);
}
.navbar .logo img {
    margin-left: 63px;
    margin-top: 27px;
    width: 140px;
}
.navbar .menu{
    display: flex;
    align-items: center;
    padding: 15px;
    padding-top: 4px;
}
.navbar .menu li{
    color: #fff;
    padding: 10px;
}
.navbar .menu li a {
    color: white;
    font-size: 22px;
}
.navbar .search-btn{
    padding: 15px;
    padding-right: 0;
    margin-top: 15px;
}
.navbar .search-btn ion-icon{
    color: #fff;
    font-size: 32px;
}
.navbar .perfil{
    margin-left: 77vh;
    display: flex;
}
.navbar .perfil .perfil-icon {
    margin-top: 10px;
    margin-left: 10px;
}
.navbar .perfil ul{
    margin-top: 20px;
    display: flex;
}
.navbar .perfil ul li{
    padding-left: 20px;
}
.navbar .perfil ul li a{
    color: #fff;
    font-size: 19px;
}
.navbar .perfil img{
    width: 43px;
    height: 43px;
    border-radius: 60%;
}
.navbar .perfil .nome{
    margin-top: 19px;
    margin-left: 7px;
    padding-left: 0;
}
.down1 {
    margin-left: 8px;
    margin-top: 20px;
}
.barra {
    position: static;
    margin-top: 0;
    width: 100%;
}


/* Assistir */

.assistir {
    background: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 820px;
}
.assistir h1 {
    margin-left: 54px;
    margin-top: 54px;
    color: #fff;
    letter-spacing:8px;
    font-size: 23px;
    font-weight: 200;
}
.assistir .div .icons .arrow {
    color: #fff;
}
.assistir .div .icons{
    margin-top: 20px;
}
.assistir .div .icons ul {
    display:flex
    
}
.assistir .div .icons .buttom{
    background: #425265;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    margin-left:63px;
    margin-right: 0;
    padding-right: 0;
}
.assistir .div .icons .buttom a {
    color: #fff;
    font-size: 20px;
}

.navbar2{
    display: flex;
    height: 90px;
    width: 100%;
    background: rgb(15,23,30);
    /*background-image: linear-gradient(to top, rgba(15,23,30,1) 0%, rgba(15,23,30,1) 90%, rgb(230, 234, 236) 100%);*/
    position: sticky;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar2 .menu {
    display: flex;
    text-align: center;
}
.navbar2 .menu a {
    color: #fff;
    padding: 30px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 25px;
}
.div {
    display: flex;
}
.div .imgicon{
    margin-top: 40px;
    margin-left: 20px;
}
.icons-img{
    width: 500px;
    height: 35px;
}

.assistir .text {
    line-height: 25px;
    margin-top: 22px;
    margin-left: 63px;
    max-width: 1000px;
    color: #fff;
    font-size: 22px;
}
.assistir .theboys img {
    filter: invert(1);
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}
.arrow{
    background: #425265;
    padding: 0px 20px;
    font-size: 21px;
}

.atores {
    display: flex;
    margin-left: 50px;
}
.atores ul{
    padding: 15px;
    font-size: 22px;
    color: #778B98;
    line-height: 25px;
}
.atores ul li a {
    color: #75B2EB;
}
.grey {
    padding-top: 10px;
    margin: 0;
    height: 1000px;
    background: rgb(15,23,30,1);
    background: linear-gradient(90deg, rgba(15,23,30,1) 0%, rgba(15,23,30,1) 0%, rgba(15,23,30,1) 0%, rgba(15,23,30,1) 5%, rgba(15,23,30,0.3432948179271709) 100%);
}